doctype html
html
	head
		meta(charset="utf-8")
		meta (name="viewport" ,content="width=device-width, initial-scale=1")
		title my awesome jade text
		link(rel="stylesheet", href="my.css")

	body
		.email-background
			.pre-header A long time ago you signed about a music app I designed  for IOS.I have some news for you
			.email-container

				h1 Hey You Guyzzzzz
				img(src='response.jpg')
				p Redisgned music app from Travis Neilson will not happen.I made this video to explain why

				a.cta(href="#") Watch The video Now!
			.footer-junk my adress/ <a href="#">subscribe</a>
