.email-background {
  background: #eee;
  padding: 10px;
}

.email-container, .pre-header {
  max-width: 500px;
  margin: 0 auto;
  background: white;
  text-align: center;
  font-family: 'san-serif';
  padding-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
}

.email-container img, .pre-header img {
  width: 100%;
}

.pre-header {
  background: #eee;
  color: #eee;
  font-size: 5px;
}

a {
  color: red;
}

p {
  color: #666;
  margin: 20px;
  font-size: 16px;
  line-hieght: 1.5;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

p:hover {
  color: pink;
}

.cta {
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  background: red;
  color: white;
  border-radius: 5px;
}

.footer-junk {
  text-align: center;
  padding: 20px;
  font-size: 14px;
}
